*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
body{
    font-size: 16px;
    line-height: 1.5;
}
.section-main h2{
    font-weight: 700;
    padding-bottom: 15px;
}
.section-main h3{
    font-weight: 700;
    padding-bottom: 15px;
}
.text{
    color: #8c8c8c;
}
.section-main button{
    padding: 8px 25px;
    border: none;
    background-color: #5bc0de;
    color: #f7f7f7;
}
.button{
    margin: 20px 0;
}
